<!DOCTYPE html>
<html>
    <head>
    <style>
        table{
            font-family: arial, san-serif;
            border-collapse: collapse;
            width: 100;
        }
        td, th{
            border: 1px splid #dddddd;
            text-align: left;
            padding:8px
        }
        tr:nth-child(even){
            background-color: #dddddd;
        }
    </style>
    </head>
    <body>
        <h2 style="text-align: center; color: blue;">SYSTEM REPORT </h2>
        <table>
            <tr>
                <th>Name of the User</th>
                <th>Address</th>
                <th>Mobile</th>
                <th>Profile_pic</th>
                
            </tr>
            {%for x in data%}
            <tr>
              <td>{{x.name}}</td>
              <td>{{x.address}}</td>
              
              <td>{{x.mobile}}</td>
              <td><img src=http://127.0.0.1:8000/profile_pic/MechanicProfilePic/{{x.profile_pic}}/></td>
            </tr>
            {%endfor%}
           
        </table>
    </body>
</html>